<section>
  <h2>Currency pairs</h2>
  <p>Pick a base currency:</p>

  <ul>
    <% @list_data.keys.sort.each do |k| %>
      <li>
        <a href="/<%= k %>">Convert 1 <strong><%= k %></strong> to…</a>
      </li>
    <% end %>
  </ul>
</section>
