<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Exchange Rates</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@2.0.6/css/pico.min.css" />
  </head>

  <body>
    <main class="container">
      <header>
        <h1>Currency Paris</h1>
        <p class="contrast">Explore currency pairs and conversions.</p>
      </header>

      <%= yield %>
    </main>
  </body>
</html>
